// This is the place to place Bootstrap's variables overrides.
// As example you can start by importing the _variables.scss file from one of the
// theme provided by https://bootswatch.com .


//
// Color system
//

$gavas:        #94b232 !default;
$gavas-yellow: #C29E33 !default;
$gavas-blue:   #087CAE !default;
$gavas-red:    #AD552F !default;
$gavas-brown:  #654F1E !default;
$gavas-pink:   #A71F41 !default;
$gavas-green:  #308950 !default;

