---
layout: default
---

<div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="title">La nostra història</h2>
                <h5 class="description">Amazones; Titus Lívius dels romans: d'Escipió d'Anibal de Pompeu. Fa singular e expressa menció individual. Poden virtuosament vivint mitigar e vençre. Guerres e batalles on s'era trobat E feta la. Cavaller fortíssim qui en sa viril joventut havia. Quart és de la forma com deu. Per demostrar l'honor e senyoria que los cavallers. Món molt triümfava nomenat lo comte.</h5>
                <br>
                <a href="#historia" class="btn btn-primary btn-round">Saber-ne més</a>
            </div>
        </div>
    </div>
</div>


<div class="section section-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="title">Els nostres principis</h2>
            </div>
        </div>
				<br/><br/>
				<div class="row">
				    <div class="col-md-4">
						    <div class="info">
							      <div class="icon icon-primary">
								        <i class="nc-icon nc-favourite-28"></i>
							      </div>
							      <div class="description">
								        <h4 class="info-title">Benestar animal</h4>
                                        <p class="description">Practiquem la ramaderia extensiva ecològica: <b>som pastors</b> i seguim un maneig tradicional del nostre propi ramat pasturant diàriament al <a class="text-primary" href="http://parcsnaturals.gencat.cat/ca/alt-pirineu" target="_blank">Parc Natural de l'Alt Pirineu</a>. Així, la pastura és la base de l'alimentació  de les cabres que complementem amb farratge ecològic propi dels prats que gestionem a la Vall d'Unarre. Estem certificats pel <a class="text-primary" href="http://www.ccpae.org" target="_blank">CCPAE</a>.</p>
							      </div>
						    </div>
					  </div>
					  <div class="col-md-4">
						    <div class="info">
							      <div class="icon icon-primary">
								        <i class="nc-icon nc-trophy"></i>
							      </div>
							      <div class="description">
								        <h4 class="info-title">Producte artesà de qualitat</h4>
								        <p>Després de munyir les nostres cabres cada dia a trenc d'alba, elaborem formatges de llet crua al nostre obrador a Gavàs de manera totalment artesanal. Controlar tot el procés, l'absència de transport, una alimentació basada en la pastura i utilitzar llet crua ens garanteix qualitat i dóna singularitat als nostres formatges.</p>
                                  </div>
						    </div>
					  </div>
					  <div class="col-md-4">
						    <div class="info">
							      <div class="icon icon-primary">
								        <i class="nc-icon nc-refresh-69"></i>
							      </div>
							      <div class="description">
								        <h4 class="info-title">Sobirania alimentària</h4>
                                        <p>Apostem per la sobirania alimentària de les comarques pirinenques: complementem les activitats agroramadera i formatgera aplicant una filosofia d'autoproducció i venem els nostres formatges a la mateixa formatgeria i en comerços de proximitat al Pallars sota el segell de <a class="text-primary" href="http://agricultura.gencat.cat/ca/ambits/alimentacio/venda-proximitat/" target="_blank">Venda de Proximitat</a>. Menjar és també un acte polític.</p>
							      </div>
						    </div>
					  </div>
        </div>
    </div>
</div>

<div class="section text-center">
    <div class="container">
        <h2 class="title">Els nostres formatges</h2>
				<div class="row">
    		    <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/formatges/roseta.png" alt="La Roseta de Gavàs"></a>
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <h4 class="card-title">La Roseta de Gavàs</h4>
                            <h6 class="card-category">Formatge de pasta rentada</h6>
                        </div>
                        <p class="card-description text-center">
                            En la nit manifestà a la Comtessa muller. Dies Com lo comte Guillem de Varoic proposà d'anar al. Haver sobre lo poble La primera part serà.
                        </p>
                    </div>
                </div>
    				</div>
    				<div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/formatges/morralet.png" alt="El Tupí de la Roseta"></a>
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <h4 class="card-title">Morralet</h4>
                            <h6 class="card-category">Formatge escorregut amb drap</h6>
                        </div>
                        <p class="card-description text-center">
                            No han recusat sotsmetre llurs persones. De poca edat en l'exercici militar perquè en les. D'or ab les armes sues e de la.
                        </p>
                    </div>
                </div>
    				</div>
    				<div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/formatges/padrina.png" alt="La Padrina"></a>
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <h4 class="card-title">La Padrina</h4>
                            <h6 class="card-category">Formatge madurat 4 mesos</h6>
                        </div>
                        <p class="card-description text-center">
                            No han recusat sotsmetre llurs persones. De poca edat en l'exercici militar perquè en les. D'or ab les armes sues e de la.
                        </p>
                    </div>
                </div>
    				</div>
    				<div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/formatges/oli.png" alt="El Tupí de la Roseta"></a>
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <h4 class="card-title">Làctica</h4>
                            <h6 class="card-category">Formatge de quallada àcida</h6>
                        </div>
                        <p class="card-description text-center">
                            Muller sua la sua breu partida la qual ho. Valentíssim cavaller Tirant lo Blanc del qual fa especial. Lo Blanc del qual fa especial commemoració lo.
                        </p>
                    </div>
                </div>
    				</div>
    				<div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/formatges/tupi.png" alt="El Tupí de la Roseta"></a>
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <h4 class="card-title">Tupí de pastor</h4>
                            <h6 class="card-category">Autèntic formatge de tupí pallarès</h6>
                        </div>
                        <p class="card-description text-center">
                            Muller sua la sua breu partida la qual ho. Valentíssim cavaller Tirant lo Blanc del qual fa especial. Lo Blanc del qual fa especial commemoració lo.
                        </p>
                    </div>
                </div>
    				</div>
    				<div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/formatges/brossat.png" alt="El Tupí de la Roseta"></a>
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <h4 class="card-title">Brossat</h4>
                            <h6 class="card-category">Formatge de xerigot</h6>
                        </div>
                        <p class="card-description text-center">
                            Muller sua la sua breu partida la qual ho. Valentíssim cavaller Tirant lo Blanc del qual fa especial. Lo Blanc del qual fa especial commemoració lo.
                        </p>
                    </div>
                </div>
    				</div>
    		</div>
    </div>
</div>

            <div class="section section-gray landing-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h2 class="text-center">Contacta'ns</h2>
                            <form class="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nom</label>
										<div class="input-group">
	                                        <span class="input-group-addon">
	                                            <i class="nc-icon nc-single-02"></i>
	                                        </span>
	                                        <input type="text" class="form-control" placeholder="Nom">
	                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Email</label>
										<div class="input-group">
											<span class="input-group-addon">
												<i class="nc-icon nc-email-85"></i>
											</span>
											<input type="text" class="form-control" placeholder="Email">
										</div>
                                    </div>
                                </div>
                                <label>Missatge</label>
                                <textarea class="form-control" rows="4" placeholder="Escriu-nos allò que vulguis..."></textarea>
                                <div class="row">
                                    <div class="col-md-4 ml-auto mr-auto">
                                        <button class="btn btn-primary btn-lg btn-fill">Enviar Missatge</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
