---
layout: default
---

<div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="title">La nostra història</h2>
                <h5 class="description">Som una cooperativa de treball associat que l'any 2019 pren el relleu del Jesús i la Rosa davant la formatgeria <b>La Roseta de Gavàs</b> des de l'any 2000.</h5>
                <br>
                <a href="#" class="btn btn-primary btn-round disabled">Saber-ne més</a>
            </div>
        </div>
    </div>
</div>


<div class="section section-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="title">Els nostres principis</h2>
            </div>
        </div>
				<br/><br/>
				<div class="row">
				    <div class="col-md-4">
						    <div class="info">
							      <div class="icon icon-primary">
								        <i class="nc-icon nc-favourite-28"></i>
							      </div>
							      <div class="description">
								        <h4 class="info-title">Benestar animal</h4>
                                        <p class="description">Practiquem la ramaderia extensiva ecològica: <b>som pastors</b> i seguim un maneig tradicional del nostre propi ramat pasturant diàriament al <a class="text-primary" href="http://parcsnaturals.gencat.cat/ca/alt-pirineu" target="_blank">Parc Natural de l'Alt Pirineu</a>. Així, la pastura és la base de l'alimentació  de les cabres que complementem amb farratge ecològic propi dels prats que gestionem a la Vall d'Unarre. Estem certificats pel <a class="text-primary" href="http://www.ccpae.org" target="_blank">CCPAE</a>.</p>
							      </div>
						    </div>
					  </div>
					  <div class="col-md-4">
						    <div class="info">
							      <div class="icon icon-primary">
								        <i class="nc-icon nc-trophy"></i>
							      </div>
							      <div class="description">
								        <h4 class="info-title">Producte artesà de qualitat</h4>
								        <p>Després de munyir les nostres cabres cada dia a trenc d'alba, elaborem formatges de llet crua al nostre obrador a Gavàs de manera totalment artesanal. Controlar tot el procés de transformació, l'absència de transport i una alimentació basada en la pastura ens garanteix qualitat i dóna singularitat als nostres formatges.</p>
                                  </div>
						    </div>
					  </div>
					  <div class="col-md-4">
						    <div class="info">
							      <div class="icon icon-primary">
								        <i class="nc-icon nc-refresh-69"></i>
							      </div>
							      <div class="description">
								        <h4 class="info-title">Sobirania alimentària</h4>
                                        <p>Apostem per la sobirania alimentària de les comarques pirinenques: complementem les activitats agroramadera i formatgera aplicant una filosofia d'autoproducció i venem els nostres formatges a la mateixa formatgeria i en comerços de proximitat al Pallars sota el segell de <a class="text-primary" href="http://agricultura.gencat.cat/ca/ambits/alimentacio/venda-proximitat/" target="_blank">Venda de Proximitat</a>. Menjar és també un acte polític.</p>
							      </div>
						    </div>
					  </div>
        </div>
    </div>
</div>

<div class="section text-center">
    <div class="container">
        <h2 class="title">Els nostres formatges</h2>
				<div class="row">
    		    <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/formatges/roseta.png" alt="La Roseta de Gavàs"></a>
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <h4 class="card-title">La Roseta de Gavàs</h4>
                            <h6 class="card-category">Formatge de pasta rentada</h6>
                        </div>
                        <p class="card-description text-center">
                        El nostre formatge clàssic amb escorça florida i vellutada, de textura mantegosa i sabor suau gràcies a la desacidificació de la quallada. Un formatge agradable a tots els paladars amb una maduració entre 4 setmanes i 2 mesos.
                        </p>
                    </div>
                </div>
    				</div>
    				<div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/formatges/morralet.png" alt="Morralet"></a>
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <h4 class="card-title">Morralet</h4>
                            <h6 class="card-category">Formatge escorregut amb drap</h6>
                        </div>
                        <p class="card-description text-center">
                        Formatge que escorrem lentament amb drap per tal d'accentuar les propietats organolèptiques de la llet. Així, ens recorda a la pastura d'alta muntanya i a la bona feina del pastor.
                        </p>
                    </div>
                </div>
    				</div>
    				<div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/formatges/padrina.png" alt="La Padrina"></a>
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <h4 class="card-title">La Padrina</h4>
                            <h6 class="card-category">Formatge madurat 4 mesos</h6>
                        </div>
                        <p class="card-description text-center">
                        La recepta tradicional de les padrines del poble. És un formatge rústic, amb escorça natural i un sabor persistent. Amb aromes a fongs i a celler que evolucionen en complexitat durant la seva llarga maduració.
                        </p>
                    </div>
                </div>
    				</div>
    				<div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/placeholder.jpg" alt="Formatge de quallada àcida"></a>
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <h4 class="card-title">La làctica</h4>
                            <h6 class="card-category">Formatge de quallada àcida</h6>
                        </div>
                        <p class="card-description text-center">
                        El nostre formatge més jove, madurat amb fongs (<i>Geotrichum</i> i <i>Penicillium Candidum</i>) un mínim de 10 dies. Un formatge molt làctic i cremós que amb el pas del temps evoluciona ràpidament i guanya caràcter.
                        </p>
                    </div>
                </div>
    				</div>
    				<div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/formatges/tupi.png" alt="Tupí de pastor"></a>
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <h4 class="card-title">Tupí de pastor</h4>
                            <h6 class="card-category">Autèntic formatge de tupí pallarès</h6>
                        </div>
                        <p class="card-description text-center">
                        Antigament un formatge d'aprofitament, actualment partim d'una fermentació salvatge de la quallada. Als 8 mesos, s'hi afegeix aiguardent i oli d'oliva fins aconseguir el cupatge final. Untable, de sabor fort i amb un aroma molt potent.
                        </p>
                    </div>
                </div>
    				</div>
    				<div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/formatges/brossat.png" alt="Brossat - Formatge de xerigot"></a>
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <h4 class="card-title">Brossat</h4>
                            <h6 class="card-category">Formatge de xerigot</h6>
                        </div>
                        <p class="card-description text-center">
                        El brossat (al Pirineu i a les Illes) o brull (als Ports) s'obté d'aprofitar el xerigot resultant de l'elaboració de la resta de formatges: escalfem el xerigot fins que brolla una massa similar al mató però més melosa, baixa en greix i molt rica en proteïna.
                        </p>
                    </div>
                </div>
    				</div>
    		</div>
    </div>
</div>

            <div class="section section-gray landing-section">
                <div class="container">
                    <h2 class="text-center">Contacta'ns</h2>
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <form action="https://formspree.io/xvoaboyw" method="post" class="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nom</label>
										<div class="input-group">
	                                        <span class="input-group-addon">
	                                            <i class="nc-icon nc-single-02"></i>
	                                        </span>
	                                        <input type="text" name="name"class="form-control" placeholder="Nom">
	                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Email</label>
										<div class="input-group">
											<span class="input-group-addon">
												<i class="nc-icon nc-email-85"></i>
											</span>
											<input type="email" name="_replyto" class="form-control" placeholder="Email">
										</div>
                                    </div>
                                </div>
                                <label>Missatge</label>
                                <textarea name="message" class="form-control" rows="4" placeholder="Escriu-nos allò que vulguis..."></textarea>
                                <div class="row">
                                    <div class="col-md-4 ml-auto mr-auto">
                                        <button type="submit" class="btn btn-primary btn-lg btn-fill">Enviar Missatge</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
